.h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0.5rem 0;
  letter-spacing: -0.01562em;
}

.h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
  margin: 0.5rem 0;
  letter-spacing: -0.00833em;
}

.h3 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.4;
  margin: 0.5rem 0;
  letter-spacing: 0;
}

.h4 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
  margin: 0.5rem 0;
  letter-spacing: 0.00735em;
}

.h5 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
  margin: 0.5rem 0;
  letter-spacing: 0;
}

.h6 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  margin: 0.5rem 0;
  letter-spacing: 0.0075em;
}

.subtitle1 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0.5rem 0;
  letter-spacing: 0.00938em;
}

.subtitle2 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0.5rem 0;
  letter-spacing: 0.00714em;
}

.body1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0.5rem 0;
  letter-spacing: 0.00938em;
}

.body2 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
  margin: 0.5rem 0;
  letter-spacing: 0.01071em;
}

.button {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.75;
  margin: 0.5rem 0;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

.caption {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.66;
  margin: 0.5rem 0;
  letter-spacing: 0.03333em;
}

.overline {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 2.66;
  margin: 0.5rem 0;
  letter-spacing: 0.08333em;
  text-transform: uppercase;
}

.colorSuccess {
  color: #22c55e;
}

.colorError {
  color: #ef4444;
}

